body {
    background-color: wheat;
    text-align: center;
}
h1 {
    text-align: center;
}
#logo {
    float: left;
}
#menu {
    float: right;
    margin-top: -50px;
}
button {
    background-color: silver;
    color: blue;
    border: none;
}
#home:hover {
    margin-right: 5px;
    background-color: blue;
    color: white;
}
#placeHolder:hover {
    margin-right: 5px;
    background-color: blue;
    color: white;
    border: none;
}
#signIn:hover {
    margin-right: 5px;
    margin-left: -4px;
    background-color: blue;
    color: white;
    border: none;
}
#mission {
    text-align: center;
    font-size: 24px;
    border: none;
}
#carrot {
    height: 60%;
}